@model EmployeeManagement.ViewModels.CreateEmployeeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Create Employee";
}

<div class="d-flex justify-content-center align-items-center" style="height:100vh;">
    <form enctype="multipart/form-data" asp-action="Create" asp-controller="Home" method="post" class="bg-info p-5 w-50 rounded">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email Address</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department">Department Type</label>
            <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" class="form-control">
                <option value="">Please Select</option>
            </select>
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <div class="custom-file">
                <input asp-for="Photo" type="file" class="custom-file-input">
                <label class="custom-file-label">Choose file</label>
            </div>
        </div>
        <div>
            <button class="bg-primary border-0 p-2 rounded" type="submit">Create</button>
        </div>


        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('.custom-file-input').on("change", function () {
                        var fileLabel = $(this).next('.custom-file-label');
                        var files = $(this)[0].files;
                        if (files.length > 1) {
                            fileLabel.html(files.length + ' files selected');
                        }
                        else if (files.length == 1) {
                            fileLabel.html(files[0].name);
                        }
                    });
                });
            </script>

        }
    </form>
</div>